@import "./colors.scss";
@import "./screens.scss";

.layoutMargin {
  margin-top: 10rem;
  @include screen("tablet") {
    margin-top: 7rem;
  }
}

.container {
  position: relative;
  .icon {
    position: fixed;
    // top: 100px;
    top: 300px;
    z-index: 100;
    cursor: pointer;
  }

  .boxOne {
    left: -9px;
    text-decoration: none;
    transition: left 0.2s;
    @include minScreen("tablet") {
      left: 30px;
    }
  }

  .boxTwo {
    right: -9px;
    transition: left 0.2s;
    @include minScreen("tablet") {
      right: 30px;
    }
  }
}

.footer {
  font-size: 0.8rem;
  line-height: 26px;
  color: $base-gray;
  margin-top: 1.25rem;
  a {
    text-decoration: none;
    color: $base-blue;
    font-weight: 400;
  }
}

.terms {
  display: flex;
  align-items: center;

  p {
    padding-left: 0.5rem;
    padding-top: 0.6rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.625rem;
    color: $gray-200;
  }
}
